bbmap
Ptrichocarpa_444_v3.0.fa
Ptrichocarpa_444_v3.0.fa.amb
Ptrichocarpa_444_v3.0.fa.ann
Ptrichocarpa_444_v3.0.fa.bwt
Ptrichocarpa_444_v3.0.fa.pac
Ptrichocarpa_444_v3.0.fa.sa
run.qsub
reads/
trimmed_reads/
mapped_reads/
get.py
snakefile1
snakefile_annotate
Chr13_subset_882.vcf
Chr13_subset_882.vcf.idx
Ptrichocarpa_444_v3.0.dict
Ptrichocarpa_444_v3.0.fa.fai
create_env.txt
.snakemake/
bbmap/
benchmarks/
duplicate_marked/
GVCF/
labeled_bam/
mapped_reads/
merged_bam/
reads/
recal/
trimmed_reads/
BESC-119.sum
BESC-82.sum
genome_cov.qsub
.gitignore
